NEXT_PUBLIC_SITE_URL="ENTER_SITE_URL"
HATENA_PASSWORD="ENTER_PASSWORD"
QIITA_ACCESS_TOKEN="ENTER_TOKEN"

# Upstash Redis (for blog like button)
UPSTASH_REDIS_REST_URL="ENTER_URL"
UPSTASH_REDIS_REST_TOKEN="ENTER_TOKEN"
